* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 1.6;
    background-color: #F7F2EA;
    color: #333;

}


img {
    width: 70%;
    height: 70%;
    display: block;
}

section {
    justify-self: center;
    width: 80%;
    margin: 5px;
    padding: 60px 10px;
    background-color: white;
    border-radius: 5%;

}

h2 {
  
    font-family: 'Playfair Display', Georgia, serif;
    margin-bottom: 40px;

}

h3{
    font-family: 'Playfair Display', Georgia, serif;
}

/* HERO */
.hero {
  height: 60vh;
  background: url('../images/about-image1.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-text {
  background-color: #F7F2EA;
  color: black;
  padding: 20px;
  border-radius: 10px;
}

/* GRID LAYOUT */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 50px;
  align-items: center;
}

.grid img {
  width: 70%;
  border-radius: 10px;
}

/* SECTIONS */
section h2 {
  margin-bottom: 15px;
}

/* GALLERY */
.gallery {
  padding: 50px;
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.gallery-grid img {
  width: 80%;
  border-radius: 20px;
  transition: 0.2s ease-in;
}

.gallery-grid img:hover{
     transform: translateY(-5px);  
}



.our-chef {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.chef-image img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translate(50px);}
  to   {opacity: 1; transform: translate(0);}
}
@keyframes pulse {
  0%   {transform: scale(1);}
  50%  {transform: scale(1.1);}
  100% {transform: scale(1);}
}
.chef-image{
 /*animation: fadeIn 2s ease forwards;*/
}
.chef-image{
  animation: pulse 5s ease infinite;
  margin-left: 15px;
}
.franco{
  margin-left: 80px;
}
/* AWARDS */
.awards {
  background: #f4f4f4;
  padding: 40px;
  text-align: center;
}

/* RESPONSIVE */
@media(max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .gallery-grid {
    grid-template-columns: 1fr 1fr;
  }
}